body{background:white;color:#696969;font-size:12px;font-family:arial,helvetica,sans-serif;line-height:1.5;}
h2{font-size:16px;font-weight:bold;display:inline;}
body.options{background:#f2f5f6;width:auto!important;}
body.options h2{display:block;text-align:center;margin:4px 0;font-size:16pt;font-weight:bold;color:#333;}
#submitMessage{padding:2px;font-weight:bold;}
#submitMessage.success{background:yellow;color:black;}
#submitMessage.error{background:red;color:white;}
#optionsHeader{text-align:center;}
input[type=submit], button {
	color:black;
}
input[disabled], button[disabled] {
	color:#696969;
}
#optionsView{width:600px;}
.vignette{margin:40px auto 20px auto;padding:0;border-width:12px 20px 20px 12px;}
.vignetteContent{background:white;padding:18px;-border-radius:6px;}
table.formTable{width:100%;}
table.formTable tr td{text-align:right;padding:10px 4px 4px 0;vertical-align:top;}
table.formTable tr td+td{text-align:left;padding:4px 0;vertical-align:middle;}
table.formTable input[type=text],table.formTable input[type=password]{min-width:240px;width:240px;-webkit-border-radius:4px;border:1px solid #d9d9d9;-webkit-box-shadow:0 1px 0 white;padding:6px;}
table.formTable input[type=checkbox]{margin-right:6px;}
table.simpleOptions{margin:0;padding:0;border-bottom:1px solid #edf6f7;margin-bottom:16px;width:100%;table-layout:fixed;}
table.simpleOptions td{width:30%;vertical-align:top;padding:8px 0;}
table.simpleOptions td+td{width:70%;}
table.simpleOptions td label{font-weight:bold;}
table.simpleOptions td+td label{font-weight:normal;}
table.simpleOptions tr.coupledRow td{padding:2px 0;}
input[type=submit],.button{color:#59595b;font-weight:bold;text-shadow:#edf6e5 1px 1px 0;padding:6px 10px;-webkit-border-radius:4px;border:1px solid #b2c0a6;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#e0efd3),color-stop(1,#eff8e6));}
